In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('salaries.csv')

In [4]:
df

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27